body {
  background-color: rgb(39, 34, 29);
}
.container {
  background-color: rgb(214, 206, 189);
}
button {
  padding: 0.5rem;
  margin: 1rem;
}
.item {
  float: left;
  margin: 1rem;
}
p {
  color: aliceblue;
}
.btn-outline-success {
  margin: 3rem 0rem 2rem 1rem;
}
.form-check-input {
  margin: 1rem;
}
#addtext {
  margin: 0rem 1rem;
}
